name: Deploy Infrastructure
on:
  push:
    branches:
      - main
env:
  AWS_REGION: 'us-east-2'

permissions:
  id-token: write
  contents: read

jobs:
  deploy-infrastructure:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v1

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: arn:aws:iam::871128211389:role/github-ci-role
          aws-region: ${{ env.AWS_REGION }}

      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - run: yarn install

      - name: Synth infrastructure stack
        run: yarn workspace infrastructure cdk synth

      - name: Deploy infrastructure stack
        run: |
          WEBDAV_DOMAIN_NAME = ${{ secrets.WEBDAV_DOMAIN_NAME }}
          WEBDAV_USERNAME = ${{ secrets.WEBDAV_USERNAME }}
          WEBDAV_PASSWORD = ${{ secrets.WEBDAV_PASSWORD }}
          WEBDAV_UPLOAD_PATH = ${{ secrets.WEBDAV_UPLOAD_PATH }}
          INSTAGRAM_USERNAME = ${{ secrets.INSTAGRAM_USERNAME }}
          INSTAGRAM_PASSWORD = ${{ secrets.INSTAGRAM_PASSWORD }}
          yarn workspace infrastructure cdk deploy --require-approval never
